<div class="ctsp">
  <div class="anh">
    <img
      [src]="product?.thumbnail"
      style="width: 500px; height: 560px; border-radius: 50px 0 0 50px"
    />
  </div>
  <div class="nd">
    <h3>{{ product?.title }}</h3>
    <button class="bt"></button> <br />
    <span>
      <b> {{ product?.price }}VNĐ</b>
    </span>
    <br />
    <p>{{ product?.description }}</p>
    <br />
    <p>
      Hàng chính hãng 100% Gói hàng đảm bảo Giao tận nhà trên toàn quốc Giao
      hàng thu tiền tận nhà Kiểm hàng trước khi thanh toán. <br />
      <br />
      <b>Vận chuyển:</b> Miễn phí <br />
      <b>Tình trạng:</b> Còn hàng <br />
      <b>Dung lượng:</b> 100ml <br />
      <b>Số lượng: </b>
      <button class="button">-</button>
      <button class="button">1</button>
      <button class="button">+</button>
    </p>
    <button class="button1">THÊM VÀO GIỎ HÀNG</button>
    <button class="button2">MUA NGAY</button>
  </div>
</div>
