/* Chi tiết sản phẩm */
.ctsp {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Tạo hai cột bằng nhau */
  width: 90%;
  border: 2px solid rgb(245, 245, 245);
  margin: 5%;
  border-radius: 50px;
  margin-top: 130px;
}
.nd {
  padding: 20px 20px 0 0;
}
.button {
  height: 25px;
  width: 30px;
  border: 1px solid rgb(243, 238, 238);
  background-color: white;
}
.bt {
  border: 2px solid rgb(116, 115, 115);
  width: 100px;
  border-radius: 3px;
}
.button1 {
  padding: 10px 15px;
  margin: 50px;
  border: 1px solid rgb(243, 238, 238);
  background-color: rgb(239, 121, 140);
  color: white;
}
.button2 {
  padding: 10px 15px;
  border: 1px solid rgb(243, 238, 238);
  background-color: rgb(209, 42, 12);
  color: white;
}
.nd h3 {
  color: rgb(67, 67, 67);
}

.nd span {
  color: red;
}
