form {
  margin: 0 auto;
  margin-top: 10%;
  padding: 20px;
  width: 50%;
  background-color: rgb(229, 229, 229);
  div {
    margin-top: 10px;
  }
  button {
    background-color: rgb(57, 7, 82);
    margin: 30px 0;
  }
  input {
    padding: 10px;
  }
}
