<!-- <h1 class="text-3xl font-bold underline">Hello world!</h1>
<div class="infor-card">
  <h2>Tên: {{ userInfor.name }}</h2>
  <p>Tuổi: {{ userInfor.age }}</p>
  <p>Địa chỉ: {{ userInfor.address }}</p>
  <button class="btn btn-success" (click)="hello()">Hello</button>
</div>
<app-product-list></app-product-list> -->
<app-home-page></app-home-page>

<!-- <app-not-found></app-not-found> -->

<!-- <input type="text" [value]="user.name" /> -->
<!-- <button onclick="showInfor()">Click Me!</button> -->
<!-- <br />
<button (click)="showInfor()" class="btn btn-primary">Click Me!</button>

<form action="">
  <h1>Register</h1>
  <label for="username">Username:</label>
  <input type="text" [(ngModel)]="user.name" /> <br />
  <button>Dang nhap</button>
</form> -->
